<h1 class="center">Android Crash Report charts</h1>

<div class="col-md-12">
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="dateSince">Since</label>
      <input class='form-control datepicker' id='since' name='since' placeholder='yyyy-mm-dd' type='text' value="<%= @since %>">
    </div>
    <div class="form-group">
      <label class="sr-only" for="dateUntil">Until</label>
      <input class='form-control datepicker' id='until' name='until' placeholder='yyyy-mm-dd' type='text' value="<%= @until %>">
    </div>
    <div class="form-group">
      <button class='btn' type='submit'>Filter</button>
      <button class="btn" type="reset">Reset</button>
      <button class="btn" onClick="javascript: clearAll();">Clear</button>
    </div>
  </form>
</div>

<br/>

<h3><%= link_to 'By Phone', 'javascript:void(0)', {'class' => 'toggleChart', 'data-chart' => 'byphone'} %></h3>
<div cellpadding="2" id="byphone">
  <%= pie_chart @per_phone_model %>
</div>

<h3><%= link_to 'By Hour', "javascript:void(0);", {'class' => 'toggleChart', 'data-chart' => 'byhour'} %></h3>
<div cellpadding="2" id="byhour">
  <%= column_chart @per_hour %>
  <div align="center">All</div>
</div>

<h3><%= link_to 'By Day', "javascript:void(0);", {'class' => 'toggleChart', 'data-chart' => 'byday'} %></h3>
<div cellpadding="2" id="byday">
  <%= line_chart @per_date %>
  <div align="center">All</div>
  <%= line_chart @androidversion_per_date %>
  <div align="center">Android Version</div>
  <%= line_chart @product_per_date %>
  <div align="center">Product</div>
  <%= line_chart @brand_per_date %>
  <div align="center">Brand</div>
</div>

<h3><%= link_to 'By Month', "javascript:void(0);", {'class' => 'toggleChart', 'data-chart' => 'bymonth'} %></h3>
<div cellpadding="2" id="bymonth">
  <%= bar_chart @per_month %>
  <div align="center">All</div>
  <%= bar_chart @androidversion_per_month %>
  <div align="center">Android Version</div>
  <%= bar_chart @product_per_month %>
  <div align="center">Product</div>
  <%= bar_chart @brand_per_month %>
  <div align="center">Brand</div>
</div>

<script charset="utf-8">
  jQuery(document).ready(function() {
    $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
  });

  function clearAll() {
    $('#since').val('');
    $('#until').val('');
  }
</script>
