<h1 class="center">Android Crash Report charts</h1>

<span class='clearfix'>
  <form class='form-search pull-left' style='margin: 16px 0px 0px 16px;'>
    <div class='input-append'>
      <input class='span2 search-query datepicker' id='since' name='since' placeholder='yyyy-mm-dd' type='text' value="<%= @since %>">
       -
      <input class='span2 search-query datepicker' id='until' name='until' placeholder='yyyy-mm-dd' type='text' value="<%= @until %>">
      <button class='btn' type='submit'>Filter</button>
      <button class="btn" type="reset">Reset</button>
      <button class="btn" onClick="javascript: clearAll();">Clear</a>
    </div>
    <script type="text/javascript">
      function clearAll() {
        $('#since').val('');
        $('#until').val('');
      }
    </script>
  </form>
</span>

<br/>

<h3><%= link_to_function 'By phone models', "$('#byphone').toggle()" %></h3>
<div cellpadding="2" id="byphone">
  <%= pie_chart @per_phone_model %>
</div>

<h3><%= link_to_function 'By Hour', "$('#byhour').toggle()" %></h3>
<div cellpadding="2" id="byhour">
  <%= column_chart @per_hour %>
  <div align="center">All</div>
</div>

<h3><%= link_to_function 'By Day', "$('#byday').toggle()" %></h3>
<div cellpadding="2" id="byday">
  <%= line_chart @per_date %>
  <div align="center">All</div>
  <%= line_chart @androidversion_per_date %>
  <div align="center">Android Version</div>
  <%= line_chart @product_per_date %>
  <div align="center">Product</div>
  <%= line_chart @brand_per_date %>
  <div align="center">Brand</div>
</div>

<h3><%= link_to_function 'By Month', "$('#bymonth').toggle()" %></h3>
<div cellpadding="2" id="bymonth">
  <%= bar_chart @per_month %>
  <div align="center">All</div>
  <%= bar_chart @androidversion_per_month %>
  <div align="center">Android Version</div>
  <%= bar_chart @product_per_month %>
  <div align="center">Product</div>
  <%= bar_chart @brand_per_month %>
  <div align="center">Brand</div>
</div>

<script type="text/javascript">
  $(document).ready( function() {
    $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
  } );
</script>
